:root{
    --color-white: white;
    --gray-500 : #6b7280;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    --black:black;
    --teal-400:#2dd4bf;
    --purple-400:#c084fc;
    --purple-600:#9333ea;
    --error-bg:#fca5a5;
    --error-text:#b91c1c;
    --success-bg:#86efac;
    --success-text:#047857;
    --warning-bg:#fde047;
    --warning-text:#a16207;
    --info-bg:#7dd3fc;
    --info-text:#0369a1;
    --iframe-bg:#18181B;

}

*{
    margin: 0;
    padding: 0;
}