:root{
    --color-white: white;
    --gray-500 : #6b7280;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    --black:black;
    --purple-600:#9333ea;
}

*{
    margin: 0;
    padding: 0;
}