html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family:'Montserrat', sans-serif;;
}

img{
    max-inline-size: 100%;
}
.hero-brand{
    width: 20rem;
    height: 20rem;
}
.btn a{
    text-decoration: none;
    color: white;
}
.container{
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:44rem;
    width: 62rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;

}
.hero-container{
    display: flex;
    border-radius: 1rem;
    width: 58rem;
    height: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: black;
    padding: 5px;
    
   
}
.hero-container>*{
    margin-top: 1rem;
}
.hero-body{
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}
.box{
    width: 59rem;
    height: 41rem;
    border-radius: 1rem;
    opacity: 0;
    position: absolute;
    background: linear-gradient(#7F00FF,#E100FF );
    animation: magnify 4s infinite cubic-bezier(.36, .11, .89, .32);
}
.animation-delay-0s{
    animation-delay: 0s;
}
.animation-delay-1s{
    animation-delay: 1s;
}
.animation-delay-2s{
    animation-delay: 2s;
}
.animation-delay-3s{
    animation-delay: 3s;
}
@keyframes magnify{
    from{
        transform: scale(0.7,0.7);
        opacity: 0.5;
    }
    to{
        transform: scale(2.5,2.5);
        opacity: 0;
    }
}

@media only screen and (max-width:600px){
    html{
        font-size: 40%;
    }
}