
.badge{
    font-size: 3rem;
    width: 4rem;
    position: relative;
}
.badge-number{
    height: 2rem;
    width: 2rem;
    color: white;
    text-align: center;
    position: absolute;
    top: -1rem;
    right: 0;

}
.badge-number{
    border-radius: 50%;
}
.badge-number span{
    background: #9333ea;
    font-size: 1.5rem;
    position: absolute;
    left:0;
    right: 0;
    border-radius: 50%;
}

.badge-two-digit .badge-number{
    width: 3.2rem;
    height: 2rem;
    right: -1rem;
    border-radius: 3.2rem;
}
.badge-two-digit .badge-number span{
    border-radius: 3.2rem;
}

.badge-three-digit .badge-number{
    width: 4rem;
    height: 2rem;
    right: -1.4rem;
    border-radius: 4rem;
}
.badge-three-digit .badge-number span{
    border-radius: 4rem;
}

.badge-avatar{
    position: relative;
    width: fit-content;
}
.badge-status{
    height: 2rem;
    width: 2rem;
    position: absolute;
    border-radius: 50%;
    right: 1rem;
    bottom:1rem;
}
.badge-online{ 
    background-color: #15803d;
    border: 3px solid black;   
}
.badge-busy{
    background-color: #b91c1c;
    position: absolute;
    border: 3px solid black; 
}