html{
    font-size: 62.5%;
}
img{
    max-inline-size: 100%;
}
.nav-bar{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    justify-content: space-around;
}
.nav-brand{
    display: flex;
    align-items: center;
}
.nav-brand img{
    width: 4rem;
    height: 4rem;
}
.nav-links{
    width: 24rem;
}
.nav-links ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 1.4rem;
}
.nav-links ul li{
    cursor: pointer;
}

.search-bar{
    border: 1px solid #b3b3b3;
    padding: 5px;
    border-radius: 5px;
}
.search-bar i{
    font-size: 1.4rem;

}
.search-bar input{
    margin-left: 1rem;
    outline: none;
    border: none;
    width: 30rem;
}

.align-items{
    align-items: center;
}
.display-flex{
    display: flex;
}
.nav-bar .drawer-btn{
    display: none;
}

@media only screen and (max-width:600px){
    .search-bar{
        display: none;
    }
    .nav-bar .drawer-btn{
        display: block;
    }
    .nav-bar .nav-links{
        display: none;
    }
}